.container-Explore {
    @include displayColumn;
    padding: 0 15%; 
    background-color: $colour-lightGrey;
    padding-bottom: 2rem;
}
/*DESKTOP AND TABLET*/
@media screen and (min-width: 1024px) {
    .container-Explore{
        row-gap: 1rem;
    }
}