footer{
    @include displayColumn;
    
    column-gap: 5rem;
    padding-right: 10rem;

    background-color: $colour-footer;

    padding-left: 2rem;
    row-gap: 1rem;
    padding-bottom: 1rem;
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    footer{
        padding-right: 5%;
        align-items: center;
        flex-direction: row-reverse;
        a{
            @include FooterReverseElementOrder;
        }
    }
}