.container--Loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeout 3s linear forwards;
}
    @keyframes fadeout {
        100% { 
            position: absolute;
        }
    }
