.container--RestaurantsArticles{
    @include displayColumn;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
.container--Restaurants{
    overflow: hidden;
}

/*DESKTOP AND TABLET*/
@media screen and (min-width: 768px) {
    .container--RestaurantsArticles{
        flex-direction: row;
        margin-left: 10vw;
        width:max-content;
        overflow: hidden;
    }
    
}