.container--RestaurantsArticles{
    display: flex;
    row-gap: 2rem;
    column-gap: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}
.container--Restaurants{
    overflow: hidden;
}

@media screen and (min-width: 900px) {
    .container--RestaurantsArticles{
        margin-left: 10vw;
        width:max-content;
        /*overflow: hidden;*/
    }
    
}

@media screen and (max-width: 900px) {
    .container--RestaurantsArticles{
        @include displayColumn;
        align-items: center;
    }
}
