.container--RestaurantsArticles{
    article{
        @include shadowAndRoundedBorder;
        overflow: hidden;
        width: 80%;
    }
}

/*DESKTOP AND TABLET*/
@media screen and (min-width: 768px) {
    .container--RestaurantsArticles{
        article{
            width: 25vw;
        }
    }
}    

article + a{
    display: flex;
    flex-direction: column;
    max-height: 40vh;   
}
.restaurants--Details{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: -2% 5% 1rem 5%;
}