/*TUTORIAL*/
li i{
    color: $colour-darkGrey;
}
.tutorial--StoreIcon{
    color: $colour-primary;
}

.fa-circle-check{
    color: white;
}

/*RETAURANTS*/
.fa-heart.fa-regular{
    font-size:28px;
    color: black;
}
.fa-solid.fa-heart{
    font-size:30px;
    color: transparent;
}
.fa-stack{
    >span{
        display: inline;
    }
}
.fa-solid.fa-heart:hover {
    background: linear-gradient(25deg, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
<<<<<<< Updated upstream
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
=======
>>>>>>> Stashed changes
}

/*MENU HEADER*/
.fa-arrow-left{
    color: black;
    position: absolute;
    left: 5%;
}
