img{
   width: 100%;
   object-fit: cover;
}
.container--Menu-Image{
   >img{
      height: 20vh;
   }
}
a{
   >img{
      max-height: 20vh;
   }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
   .container--Menu-Image{
      >img{
         height: 40vh;
      }
   }
}   