.loader--Spinner{
    width: 335px;
    height: 335px;
    border: 20px solid $colour-primary;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1.5s linear forwards;
}
@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
      opacity: 0%;
    }
  } 
.loader--Spinner::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid;
    border-color: $colour-secondary transparent;
}
