.restaurants--StatusTag{
    background-color: $colour-accent;
    border-radius: 0.3rem;
    position: absolute;
    margin-top: 1.5rem;
    padding: 0.5rem 0.7rem;
    color: darken($colour-accent, 50);
    font-weight: 500;
    left: 67%;
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    .statusTag--FirstTag{
        left: 27%;
    }
    .statusTag--SecondTag{
        left: 54.5%;
    }
}