.restaurants--StatusTag{
    background-color: $colour-accent;
    border-radius: 0.3rem;
    position: absolute;
    margin-top: 1.5rem;
    padding: 0.5rem 0.7rem;
    color: darken($colour-accent, 50);
    font-weight: 500;
}

/*DEKTOP*/
@media screen and (min-width: 900px) {
    .statusTag--FirstTag{
        left: 27%;
    }
    .statusTag--SecondTag{
        left: 54.5%;
    }
}

/*MOBILE*/
@media screen and (max-width: 900px) {
    .restaurants--StatusTag{
        left: 67%;
    }
}