ol{
    list-style: none;
    padding: 0;
    counter-reset: item;
}
li{
    @include shadowAndRoundedBorder;
    counter-increment: item;
    padding: 2rem;
    background-color: $colour-lightGrey;
    margin-bottom: 2rem;
}
li i{
    color: $colour-darkGrey;
}
.tutorial-storeIcon{
    color: $colour-primary;
}
li:last-of-type{
    background-color: lighten($colour-primary, 30%);
}
li::before{
    content: counter(item);
    color: white;
    background-color: $colour-primary;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
}